/* - jasper/pink/rust - #BA5649
- caramel orange - #E2792E
- olive/asparagus - #76A067
- light playful ruddy blue - #6DAEEE
- sea blue (darker) - #31608E */

.hero {
  order: 2;
  border: solid 2px #4a3527;
  border-radius: 12px;
  padding: 1rem 1.5rem;
  padding-right: 2rem;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  transition: transform 0.3s ease;
  cursor: default;
  margin-bottom: 1rem;
  background-color: none;
}

.hero:hover {
  box-shadow: 4px 4px 0 #c25e3e;
  border: 2px solid #c25e3e;
  transform: translateY(-5px);
}

.hero-text {
  font-family: owners-wide, sans-serif !important;
  font-weight: 700;
  font-style: italic;
  font-size: 4.2rem;
  margin-bottom: 2rem;
  color: #c25e3e;
  /* color: #76a067; */
  /* margin-bottom: 5rem; */
}

.hero-button {
  position: relative;
  display: flex;
  width: 75%;
  justify-self: center;
  background: orange;
  padding: 3rem 2rem 3rem 2rem;
  border-radius: 10px;
  box-shadow: 0 0 8px orange;
  transition: box-shadow 1s ease, transform 0.2s ease;
  cursor: pointer;
  overflow: hidden;
}

.hero-button::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(45deg, orange, orangered, orange, orangered);
  background-size: 400% 400%;
  filter: blur(12px);
  opacity: 0;
  transition: opacity 0.3s ease;
  animation: moveGradient 10s linear infinite;
  z-index: -1;
  border-radius: 12px;
}

.hero-button:hover::before {
  opacity: 1;
}

.hero-button:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px 1px orange, 0 0 30px 3px rgb(255, 149, 0);
}

.hero-button:active {
  transform: scale(0.95);
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hero-button:hover .hero-button-text {
  animation: textGradientMove 4s linear infinite;
}

.hero-button-text {
  width: 100%;
  font-family: owners-wide, sans-serif !important;
  font-size: 2.4rem;
  font-weight: 700;
  font-style: italic;

  background: linear-gradient(45deg, #76a067, #78c35d, #76a067, #41b318);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: none; /* default no animation */
  transition: background-position 0.5s ease;
}

@keyframes textGradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ------------------------- MEDIA QUERIES FOR BUTTONS -------------------------------------------------- */
@media (max-width: 1352px) {
  .hero-button-text {
    font-size: 2rem;
  }
  .hero-button {
    padding: 3rem 1.5rem 3rem 1.5rem;
  }
}

@media (max-width: 1226px) {
  .hero-text {
    font-size: 3.6rem;
  }
}

@media (max-width: 750px) {
  .hero-button-text {
    font-size: 1.8rem;
  }

  .hero-button {
    width: 90%;
    padding: 2rem 1rem 2rem 1rem;
  }

  .hero-text {
    font-size: 3.2rem;
  }
  .hero {
    padding-right: 0.5rem;
  }
}

@media (max-width: 600px) {
  .hero-button-text {
    font-size: 1.4rem;
  }

  .hero-button {
    width: 95%;
    padding: 2rem 1rem 2rem 1rem;
  }

  .hero-text {
    font-size: 2.4rem;
  }
}

@media (max-width: 480px) {
  .hero-text {
    font-size: 1.8rem;
  }

  .hero-button-text {
    font-size: 1.2rem;
  }

  .hero-button {
    border: 1px solid black;
  }
}
/* ------------------------- MEDIA QUERIES FOR BUTTONS -------------------------------------------------- */
