/* - espresso/cafe noir - #4a3527
- cream/offwhite - #efe0d2 */

a {
  text-decoration: none;
}

.vinyl-widget {
  aspect-ratio: 1/1;
  width: 100%;
  margin: 1rem 2rem 1rem 0rem;
  text-align: center;
  position: relative;
  border: solid 2px #1d1d1d;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  background-image: url("src/assets/images/Wood027_2K-JPG_Color.jpg");
  background-size: 400%;
  transition: box-shadow 0.3s ease, border 0.3s ease, transform 0.3s ease;
}

.vinyl-widget:hover {
  box-shadow: 4px 4px 0 #c25e3e;
  border: 2px solid #c25e3e;
  transform: translateY(-5px);
}

.vinyl-record {
  position: absolute;
  margin-top: 1rem;
  top: 20%;
  left: 10%;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  animation: spin 16s linear infinite;
  transition: scale 0.3s ease;
  margin-bottom: 1rem;
  z-index: 0;
}

.vinyl-record-tonearm {
  position: absolute;
  width: 100%;
  height: 60%;
  scale: 60%;
  z-index: 1;
  rotate: -60deg;
  right: -35%;
  top: 15%;
  transition: rotate 0.5s ease;
  opacity: 0.9;
}

.vinyl-record-tonearm:hover {
  rotate: -90deg;
}
.vinyl-record:hover {
  scale: 105%;
}

.vinyl-record-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vinyl-label {
  border: 1px solid rgb(221, 144, 0);
  width: 100%;
  position: absolute;
  top: 0;
  margin-bottom: 2rem;
  font-family: owners-wide, sans-serif !important;
  font-weight: 700;
  font-style: italic;
  font-size: clamp(1rem, 2vw, 3.6rem);
  border-radius: 10px;
  color: orange;
  transition: color 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease, scale 0.3s ease;
  padding: 1rem 1rem;
  white-space: nowrap;
}

.vinyl-label:hover {
  transform: translateY(-2px);
  scale: 102%;
  box-shadow: 2px 2px 0 #c25e3e;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 750px) {
}
